# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

#### Performing Calculations on ints and floats

##### Addition

##### Subtraction

##### Multiplication

##### Division

##### Floor Division

##### Modulo

##### Exponential

### String Input-Output

##### String Assignment

In [2]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [4]:
print( "this is my first name ", name)
print("full name: ", name, end=" apol")

this is my first name  Brandon
full name:  Brandon apol

##### String Concatenation

In [10]:
first_name = "john"
last_name = "smith"

full_name =first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

john smith
john smith, Jr

##### Type Conversion

In [12]:
number = "32"

change_type_num = int(number)
print(number)

32

##### input()

In [16]:
# name = input("what is your name? ")
# print("nice to meet you, " +name)

age = int(input( "What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 5
10

##### format()

In [19]:
age = input("what is your age? ")

result_string = "You are {} {} and you are getting wiser!" . format(age, name)
print (result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

what is your age? 5
You are 5 Shawn and you are getting wiser!
5 is a great time in life!

##### Old Way (python 2)

In [24]:
name = input("what is your name? ")
color = input("what is the color of your car? ")
year = input("what year is your car? ")
model = input("what model is your car? ")
results = f"{name}, your {year} {model}'s color is {color}."

print(results)

what is your name? shawn
what is the color of your car? purple
what year is your car? accord
what model is your car? honda
shawn, your accord honda's color is purple.

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
name = input("what is your name? ")
color = input("what is the color of your car? ")
year = input("what year is your car? ")
model = input("what model is your car? ")
results = f"{name}, your {year} {model}'s color is {color}."

print(results)

### If Statements

In [4]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = 

num1 = 5
num2 = 10
num3 = 0

# if num1 == 5:
#     print("this is true")
# else:
#     print("Not equal")
if num2 > num1 & num3 >0:
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("equal values")

equal values

##### 'is' keyword

In [5]:
num3 = 55

if num3 == 55:
    print("this is the exact number")

this is the exact number

##### 'in' keyword

In [6]:
char_name = "frodo baggins"

if "frodo" in char_name:
    print("the ring bearer")

the ring bearer

##### 'not in' keyword'

In [8]:
sega_char = "sonic"

if "a" not in sega_char:
    print("a is not here...")

a is not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [12]:
my_variable = input("what is your input? ")
if "p" in my_variable:
    print("the letter p is here.")
else:
    print("the letter p is not here")

what is your input? fart
the letter p is not here

## Using 'and'/'or' with If Statements

In [14]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("true and true")

    if num_11 > num_12 or num_13 == num_14:
        print("true and false")

true and true
true and false

### Elif Statements

In [24]:
first_name = input('what is your first name? ')
if first_name == "smith":
    print("the name is smith")
elif first_name == "brandon":
    print("the name is brandon")
elif first_name != "max":
    print("the name is not max")
else:
    print("the name is max")

what is your first name? poop
the name is not max

### Else Statements

In [ ]:
# see above

### For Loops

In [25]:
name = "brandon apol"

for letter in name:
    print(letter)

b
r
a
n
d
o
n

a
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [31]:
name = "shawn"

for i in name:
    if i == "a":
        continue
    print(i)

s
h
w
n

##### Break Statement

In [ ]:
# will break out of current loop

In [32]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [33]:
for i in name:
    pass

##### Double For Loops

In [34]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [2]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [5]:
game_over = True

while game_over:
        print("infinite loop")
        user_input = input("would you like to stop? ")
        if user_input == "yes":
            game_over = False

infinite loop
would you like to stop? yes

##### While & For Loops Used Together

In [9]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i + 1))
        
        num += 1

While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [13]:
for i in range(2, 20, 3):
    print(i)

2
5
8
11
14
17

##### len()

In [16]:
name = input("give me the name of your favorite book ")

length = len(name)
print(length)

give me the name of your favorite booklord of the rings
17

##### help()

In [17]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [26]:
num = input("pick a number")

if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float!")

pick a number4
4 is a float!

##### abs()

In [27]:
print(abs(-5))

5

### Try and Except

In [29]:
try:
    number_test = 0
    input_num = int(input("guess a number "))
    if input_num != input_num + number_test:
        input_num = input_num +number_test
        print("your number is: " + str(input_num))
except:
    print("that didnt work! change your input to a number!")

guess a number fart
that didnt work! change your input to a number!

### Lists

##### Declaring Lists

In [10]:
list_one = []

names = ['max', 'cindy', 'cathy', 'bob', 'nate']

print(names)

['max', 'cindy', 'cathy', 'bob', 'nate']

##### Indexing a List

In [16]:
# list_name[start: stop; step]

#single index


print(names[2])

#print starting at index 1 going to the end

print(names[1:])

#print at the begining of a list until a number

print(names[:2])

#print names at index 1 and going up by 2 in each iteration

print(names[1::2])

#print starting at the end and display in reverse order

print(names[::-1])

cathy
['cindy', 'cathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'cathy', 'cindy', 'max']

##### .append()

In [21]:
names.append( 'brandon')
print(names)

['max', 'cindy', 'cathy', 'bob', 'nate', ' brandon', ' brandon', 'brandon', 'brandon', 'brandon']

##### .insert()

In [30]:
names.insert(3, 'devon')
print(names)

['max', 'cindy', 'nate', 'devon', 'devon', ' brandon', ' brandon', 'brandon', 'brandon', 'brandon']

##### .pop()

In [28]:
#defaults to the last value if no perameter is given
#pop returns the element that was removed in case you ant to assign it a variable

my_name = names.pop(2)
print(my_name) 

print(names)

bob
['max', 'cindy', 'nate', ' brandon', ' brandon', 'brandon', 'brandon', 'brandon']


##### .remove()

In [46]:
#value to be removed rather than index
# names.remove( 'cindy')
# print (names)

while ' brandon' in names:
    names.remove(' brandon')
print(names)

['max', 'nate', 'devon', 'devon']

##### del()

In [47]:
#goes by index, rather than value
#be careful with del, it can cause indexing errors if not used correctly

del(names[1])
print(names)

['max', 'devon', 'devon']

##### Concatenating Two Lists

In [53]:
#will append two lists together. will not add the values

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [52]:
#lists can hold any typ of other elements. in cluded other lists

names = ['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
print(names)
print (names[3][1][1])

['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
jim

##### Looping Through Lists

In [57]:

for i in range(len(names)):
    print(names[i])
    
for i in names:
    print(i)

max
sam
josh
['sally', ['sue', 'jim'], 'tameka']
max
sam
josh
['sally', ['sue', 'jim'], 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [102]:
for i in range(1, 1000):
    print (i**i)
    if (i**i) > 1000:
        break

1
4
27
256
3125

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [115]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1, 100):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
            else:
                print(num)

3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [16]:
age = int(input("How old are you? "))

if age <18:
    print('Kids')
if age >=18 and age <=65:
    print('Adult')
if age >65:
    print('Seniors')

How old are you? 66
Seniors

In [ ]:
18